<section
  class="section parallax-container"
  data-parallax-img="assets/images/15774811.jpg"
>
  <div class="material-parallax parallax">
    <img src="assets/images/15774811.jpg" alt="" />
  </div>
  <div class="parallax-content section-lg context-dark text-md-left">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-sm-7 col-md-6 col-lg-5">
          <div class="cta-classic">
            <h4 class="cta-classic-title wow fadeInLeft">
              Creating efficient infrastructure since 1994
            </h4>
            <p class="cta-classic-text wow fadeInRight" data-wow-delay=".1s">
              We provide efficient civil engineering solutions.
            </p>
            <a
              class="button button-lg button-primary button-winona wow fadeInUp"
              href="#"
              data-wow-delay=".2s"
            >
              <div class="content-original">About Us</div>
              <div class="content-dubbed">About Us</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
