<section class="section section-inset-8 bg-image-5 context-dark text-center">
  <div class="container">
    <h3 class="oh-desktop">
      <span class="d-inline-block wow slideInDown">Featured projects</span>
    </h3>
    <div class="owl-style-4" *ngIf="features">
      <div
        class="owl-carousel dots-style-2"
        data-items="1"
        data-md-items="2"
        data-margin="30"
        data-md-margin="0"
        data-nav="true"
        data-dots="true"
        data-smart-speed="400"
        data-autoplay="true"
      >
        <article *ngFor="let featured of features" class="project-classic">
          <a
            class="project-classic-figure"
            [routerLink]="['/projects', featured.category_slug, featured.slug]"
            ><img src="{{ featured.thumb }}" alt="" width="570" height="370"
          /></a>
          <div class="project-classic-caption">
            <h5 class="project-classic-title">
              <a
                [routerLink]="[
                  '/projects',
                  featured.category_slug,
                  featured.slug
                ]"
                >{{ featured.name }}</a
              >
            </h5>
            <div class="project-classic-location">
              <span class="icon mdi mdi-map-marker"></span
              ><span>{{ featured.location }}</span>
            </div>
            <p class="project-classic-text">
              {{ featured.description }}
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
