<section class="section section-xl bg-gray-100 text-md-left">
  <div class="container">
    <div class="row row-60 justify-content-center flex-lg-row-reverse">
      
      <div class="col-md-12 col-lg-12 col-xl-12">
        <h3 class="oh-desktop text-center">
          <span class="d-inline-block wow slideInLeft">Our clients</span>
        </h3>
        <!-- Clients Classic-->
        <div class="clients-classic-wrap">
          <div *ngFor="let clientChunks of clients" class="row no-gutters align-items-center">
            <div *ngFor="let client of clientChunks" class="col-sm-4 wow fadeInLeft">
              <div class="clients-classic">
                <a class="clients-classic-figure" href="javascript: void(0)"
                  ><img
                    src="http://arconsegypt.com/api/images/clients/{{client}}"
                    alt=""
                    width="200"
                    height="90"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
