<section class="section section-xl bg-gray-100 text-md-left">
  <div class="container">
    <div class="row row-60 justify-content-center flex-lg-row-reverse">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="offset-left-xl-70">
          <h3 class="oh-desktop">
            <span class="d-inline-block wow slideInLeft">Our clients</span>
          </h3>
          <div class="slick-quote">
            <!-- Slick Carousel-->
            <div
              class="carousel-parent slick-slider"
              data-autoplay="true"
              data-swipe="true"
              data-items="1"
              data-child="#child-carousel-2"
              data-for="#child-carousel-2"
              data-slide-effect="true"
            >
              <article class="quote-modern">
                <h5 class="quote-modern-text">
                  <span class="q"
                    >This team provides a great level of service on all of our
                    projects. They are an industry leader in the use of BIM
                    technologies for structural design.</span
                  >
                </h5>
                <h5 class="quote-modern-author">Will Jones,</h5>
                <p class="quote-modern-status">
                  “STC Management”, Sales Manager
                </p>
              </article>
              <article class="quote-modern">
                <h5 class="quote-modern-text">
                  <span class="q"
                    >This team provides a great level of service on all of our
                    projects. They are an industry leader in the use of BIM
                    technologies for structural design.</span
                  >
                </h5>
                <h5 class="quote-modern-author">Will Jones,</h5>
                <p class="quote-modern-status">
                  “STC Management”, Sales Manager
                </p>
              </article>
              <article class="quote-modern">
                <h5 class="quote-modern-text">
                  <span class="q"
                    >This team provides a great level of service on all of our
                    projects. They are an industry leader in the use of BIM
                    technologies for structural design.</span
                  >
                </h5>
                <h5 class="quote-modern-author">Will Jones,</h5>
                <p class="quote-modern-status">
                  “STC Management”, Sales Manager
                </p>
              </article>
              <article class="quote-modern">
                <h5 class="quote-modern-text">
                  <span class="q"
                    >This team provides a great level of service on all of our
                    projects. They are an industry leader in the use of BIM
                    technologies for structural design.</span
                  >
                </h5>
                <h5 class="quote-modern-author">Will Jones,</h5>
                <p class="quote-modern-status">
                  “STC Management”, Sales Manager
                </p>
              </article>
            </div>
            <div
              class="child-carousel slick-slider"
              id="child-carousel-2"
              data-arrows="true"
              data-for=".carousel-parent"
              data-items="4"
              data-sm-items="4"
              data-md-items="4"
              data-lg-items="4"
              data-xl-items="4"
              data-slide-to-scroll="1"
            >
              <div>
                <img
                  class="img-circle"
                  src="assets/images/team-5-83x83.jpg"
                  alt=""
                  width="83"
                  height="83"
                />
              </div>
              <div>
                <img
                  class="img-circle"
                  src="assets/images/team-5-83x83.jpg"
                  alt=""
                  width="83"
                  height="83"
                />
              </div>
              <div>
                <img
                  class="img-circle"
                  src="assets/images/team-5-83x83.jpg"
                  alt=""
                  width="83"
                  height="83"
                />
              </div>
              <div>
                <img
                  class="img-circle"
                  src="assets/images/team-5-83x83.jpg"
                  alt=""
                  width="83"
                  height="83"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-7">
        <!-- Clients Classic-->
        <div class="clients-classic-wrap">
          <div class="row no-gutters">
            <div class="col-sm-6 wow fadeInLeft">
              <div class="clients-classic">
                <a class="clients-classic-figure" href="#"
                  ><img
                    src="assets/images/clients-1-200x90.png"
                    alt=""
                    width="200"
                    height="90"
                /></a>
              </div>
            </div>
            <div class="col-sm-6 wow fadeInRight">
              <div class="clients-classic">
                <a class="clients-classic-figure" href="#"
                  ><img
                    src="assets/images/clients-1-200x90.png"
                    alt=""
                    width="200"
                    height="90"
                /></a>
              </div>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-sm-6 wow fadeInLeft">
              <div class="clients-classic">
                <a class="clients-classic-figure" href="#"
                  ><img
                    src="assets/images/clients-1-200x90.png"
                    alt=""
                    width="200"
                    height="90"
                /></a>
              </div>
            </div>
            <div class="col-sm-6 wow fadeInRight">
              <div class="clients-classic">
                <a class="clients-classic-figure" href="#"
                  ><img
                    src="assets/images/clients-1-200x90.png"
                    alt=""
                    width="200"
                    height="90"
                /></a>
              </div>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-sm-6 wow fadeInLeft">
              <div class="clients-classic">
                <a class="clients-classic-figure" href="#"
                  ><img
                    src="assets/images/clients-1-200x90.png"
                    alt=""
                    width="200"
                    height="90"
                /></a>
              </div>
            </div>
            <div class="col-sm-6 wow fadeInRight">
              <div class="clients-classic">
                <a class="clients-classic-figure" href="#"
                  ><img
                    src="assets/images/clients-1-200x90.png"
                    alt=""
                    width="200"
                    height="90"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
