<div>
  <app-head title="About us"></app-head>
  <section class="section section-lg bg-default">
    <div class="container">
      <div class="row row-50 justify-content-center text-center text-md-left">
        <div class="col-lg-7 col-xl-8">
          <div>
            <div>
              <h3>Our Philosophy STEELED TO SUCCEED</h3>
              <p>
                Egypt-based ARCONS carries out the fabrication, installation and
                construction of steel structures, including tanks, piping,
                pressure vessels, and components for industrial plants and
                bridges. As the company celebrates its 20th anniversary,
                Georgina Cutler speaks to Mr Atef Al Adly, Managing Director,
                about the key projects, capabilities and strategies that define
                the business. Written by Gemma Carter. <br /><br />Since its
                establishment in 1994, ARCONS has become specialised in the
                engineering and manufacturing of steel and composite
                construction, bridges, water treatment plants, piping for power
                plants, hydraulic steel structures, boilers and pressure
                vessels, as well as the installation of mechanical plant,
                special constructions for the metallurgical industry, erection
                of and services for industrial plants. “We started out in the
                field of small buildings and gradually expanded into large-scale
                projects, such as the installation of steel structures for
                airports and power plants,” Mr Al Adly recalls. “In early 2002
                we built our first fabrication plant in El Obour City, in order
                to commence fabrication of standard and built-up steel sections,
                which was followed seven years later by a second facility that
                helped increase our production capacity. Then, in 2011 we
                established a partnership with Athar Company in Qatar, in order
                to facilitate our expansion into the Qatari market, although we
                are yet to execute any projects in the country.”
              </p>
              <br />
              <h4>A few words about us</h4>
              <p>
                Our company ARCONS is a fast Growing Egyptian Company with a
                registered head office in Heliopolis, Cairo, EGYPT since 1994;
                and specializations in Steel Structures & Mechanicals for middle
                and heavy industrial applications; We are specialized in
                Installation (80-85% of revenues) and Fabrication (15-20% of our
                revenues) of Steel Structures, Tanks, Mechanical Pressure
                vessels and Pipe-works of middle and heavy industrial
                Applications, while having ISO and ASME certifications with
                International Quality, H&S Standards and Competitive Performance
                Time Schedules. Our company has accomplished in the past 20
                years many contracts in Power Plants, Chemicals
                (Ammonia-Fertilizers), Wind Projects, Mega Water Projects, Steel
                Mills, Harbours, Industrial& Heavy Industrial Projects, and
                Airports.
              </p>
              <p>
                We have shared in Fabrication Works and Installation Projects
                for several Industrial & Power Plant Projects in Egypt and
                several Arabic Countries; kindly visit Arcons website for more
                details;
              </p>
              <p>
                I would be growing very interested to attend for a short
                interesting power-point presenting ARCONS and relevant
                explanation as per your earliest convenience; while trust we
                would be of great added value for your esteemed company on-going
                projects ( others still in pipeline stages) in Egyptian and
                regional markets!
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-xl-4">
          <app-downloads></app-downloads>
        </div>
      </div>
    </div>
  </section>
  <app-tools></app-tools>
</div>
