<!-- Latest news-->
<section class="section section-xl bg-default text-md-left">
  <div class="container">
    <div class="tabs-custom tabs-post" id="tabs-9">
      <div class="row align-items-md-end align-items-xl-start">
        <div class="col-md-6 tab-content-3 wow fadeInUp">
          <div class="tab-content">
            <div class="tab-pane fade show active" id="tabs-9-1">
              <div class="post-amy-figure">
                <img
                  src="assets/images/post-1-570x505.jpg"
                  alt=""
                  width="570"
                  height="505"
                /><a href="blog-post.html"
                  ><span class="icon linearicons-link2"
                    ><fa-icon [icon]="faLink"></fa-icon></span
                ></a>
              </div>
            </div>
            <div class="tab-pane fade" id="tabs-9-2">
              <div class="post-amy-figure">
                <img
                  src="assets/images/post-1-570x505.jpg"
                  alt=""
                  width="570"
                  height="505"
                /><a href="blog-post.html"
                  ><span class="icon linearicons-link2"
                    ><fa-icon [icon]="faLink"></fa-icon></span
                ></a>
              </div>
            </div>
            <div class="tab-pane fade" id="tabs-9-3">
              <div class="post-amy-figure">
                <img
                  src="assets/images/post-1-570x505.jpg"
                  alt=""
                  width="570"
                  height="505"
                /><a href="blog-post.html"
                  ><span class="icon linearicons-link2"
                    ><fa-icon [icon]="faLink"></fa-icon></span
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 index-1">
          <h3 class="tabs-post-title oh-desktop">
            <span class="d-inline-block wow slideInDown">Latest news</span>
          </h3>
          <ul class="nav nav-tabs">
            <li class="nav-item wow fadeInRight" role="presentation">
              <a class="nav-link active" href="#tabs-9-1" data-toggle="tab"></a>
              <div class="post-amy">
                <h5 class="post-amy-title">
                  <a href="blog-post.html"
                    >Repairs To Commercial Buildings: What To Think About</a
                  >
                </h5>
                <ul class="post-amy-info list-inline">
                  <li class="post-amy-time">
                    <span class="icon mdi mdi-clock"></span>
                    <time datetime="2019-05-26">May 26, 2019</time>
                  </li>
                  <li class="post-amy-autor">
                    <span class="icon mdi mdi-account-outline"></span
                    ><a href="#">Jane Williams</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item wow fadeInRight" role="presentation">
              <a class="nav-link" href="#tabs-9-2" data-toggle="tab"></a>
              <div class="post-amy">
                <h5 class="post-amy-title">
                  <a href="blog-post.html"
                    >Questions To Ask Your Contractor Before Carrying Out Road
                    Maintenance</a
                  >
                </h5>
                <ul class="post-amy-info list-inline">
                  <li class="post-amy-time">
                    <span class="icon mdi mdi-clock"></span>
                    <time datetime="2019-05-26">May 26, 2019</time>
                  </li>
                  <li class="post-amy-autor">
                    <span class="icon mdi mdi-account-outline"></span
                    ><a href="#">Jane Williams</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item wow fadeInRight" role="presentation">
              <a class="nav-link" href="#tabs-9-3" data-toggle="tab"></a>
              <div class="post-amy">
                <h5 class="post-amy-title">
                  <a href="blog-post.html"
                    >8 Useful Tips on Preparing For Drainage Construction</a
                  >
                </h5>
                <ul class="post-amy-info list-inline">
                  <li class="post-amy-time">
                    <span class="icon mdi mdi-clock"></span>
                    <time datetime="2019-05-26">May 26, 2019</time>
                  </li>
                  <li class="post-amy-autor">
                    <span class="icon mdi mdi-account-outline"></span
                    ><a href="#">Jane Williams</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
