<div>
  <section class="section section-lg bg-default text-md-left">
    <div class="container">
      <div class="row row-60 justify-content-center">
        <div class="col-lg-8">
          <h4 class="text-spacing-25 text-transform-none">Get in Touch</h4>
          <div>
            <form class="" (ngSubmit)="onSubmit()" #contactForm="ngForm">
              <div class="row row-20 gutters-20">
                <div class="col-md-6">
                  <div
                    class="form-wrap"
                    [class.has-error]="name.touched && name.invalid"
                  >
                    <input
                      class="form-input form-control-has-validation"
                      id="contact-your-name-5"
                      type="text"
                      name="name"
                      [(ngModel)]="feeds.name"
                      #name="ngModel"
                      required
                    />
                    <span
                      [hidden]="name.untouched || name.valid"
                      class="form-validation"
                    >
                      Name is required
                    </span>
                    <label
                      class="form-label rd-input-label"
                      for="contact-your-name-5"
                      >Your Name*</label
                    >
                  </div>
                </div>
                <div class="col-md-6">
                  <div
                    class="form-wrap"
                    [class.has-error]="email.touched && email.invalid"
                  >
                    <input
                      class="form-input form-control-has-validation"
                      id="contact-email-5"
                      type="email"
                      name="email"
                      [(ngModel)]="feeds.email"
                      #email="ngModel"
                      pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                      required
                    /><span
                      class="form-validation"
                      [hidden]="email.untouched || email.valid"
                      >Email is required and be valid</span
                    >
                    <label
                      class="form-label rd-input-label"
                      for="contact-email-5"
                      >Your E-mail*</label
                    >
                  </div>
                </div>
                <div class="col-md-6">
                  <div
                    class="form-wrap"
                    [class.has-error]="phone.touched && phone.invalid"
                  >
                    <input
                      class="form-input form-control-has-validation"
                      id="contact-phone-5"
                      type="text"
                      name="phone"
                      [(ngModel)]="feeds.phone"
                      required
                      #phone="ngModel"
                    /><span
                      class="form-validation"
                      [hidden]="phone.untouched || phone.valid"
                      >Phone is required</span
                    >
                    <label
                      class="form-label rd-input-label"
                      for="contact-phone-5"
                      >Your Phone*</label
                    >
                  </div>
                </div>
                <div class="col-12">
                  <div
                    class="form-wrap"
                    [class.has-error]="message.touched && message.invalid"
                  >
                    <label
                      class="form-label rd-input-label"
                      for="contact-message-5"
                      >Message</label
                    >
                    <textarea
                      class="form-input textarea-lg form-control-has-validation form-control-last-child"
                      id="contact-message-5"
                      name="message"
                      data-constraints="@Required"
                      [(ngModel)]="feeds.message"
                      #message="ngModel"
                      required
                    ></textarea
                    ><span
                      class="form-validation"
                      [hidden]="message.untouched || message.valid"
                    ></span>
                  </div>
                </div>
              </div>
              <re-captcha
                (resolved)="resolved($event)"
                siteKey="6LfwPv8SAAAAAJ9lKHiuvW_JVqS9EUqGHzL52mpH"
              ></re-captcha>
              <button
                class="button button-secondary button-winona"
                type="submit"
                [disabled]="!contactForm.form.valid"
              >
                <div class="content-original">Contact us</div>
                <div class="content-dubbed">Contact us</div>
              </button>
            </form>
          </div>
        </div>
        <div class="col-lg-4" *ngIf="data">
          <div class="aside-contacts">
            <div class="row row-30">
              <div class="col-sm-6 col-lg-12 aside-contacts-item">
                <p class="aside-contacts-title">Get social</p>
                <ul class="list-inline contacts-social-list list-inline-sm">
                  <li>
                    <a
                      class="icon"
                      href="https://www.facebook.com/pages/ARCONS/319231026934"
                      ><fa-icon [icon]="faFacebook"></fa-icon
                    ></a>
                  </li>
                  <li>
                    <a
                      class="icon"
                      href="https://www.linkedin.com/company/arcons"
                      ><fa-icon [icon]="faLinkedinIn"></fa-icon
                    ></a>
                  </li>
                </ul>
              </div>
              <div class="col-sm-6 col-lg-12 aside-contacts-item">
                <p class="aside-contacts-title">Phone</p>
                <div
                  class="unit unit-spacing-xs justify-content-center justify-content-md-start"
                >
                  <div class="unit-left">
                    <span class="icon mdi mdi-phone"></span>
                  </div>
                  <div class="unit-body">
                    <a class="phone" href="tel:{{ data.tel }}">{{
                      data.tel
                    }}</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-12 aside-contacts-item">
                <p class="aside-contacts-title">E-mail</p>
                <div
                  class="unit unit-spacing-xs justify-content-center justify-content-md-start"
                >
                  <div class="unit-left">
                    <span class="icon mdi mdi-email-outline"></span>
                  </div>
                  <div class="unit-body">
                    <a class="mail" href="mailto:{{ data.email }}">{{
                      data.email
                    }}</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-12 aside-contacts-item">
                <p class="aside-contacts-title">Address</p>
                <div
                  class="unit unit-spacing-xs justify-content-center justify-content-md-start"
                >
                  <div class="unit-left">
                    <span class="icon mdi mdi-map-marker"></span>
                  </div>
                  <div class="unit-body">
                    <a class="address" href="#">{{ data.address }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
