<section class="section section-lg bg-default">
  <div class="container">
    <h3 class="oh-desktop">
      <span class="d-inline-block wow slideInDown">What we offer</span>
    </h3>
    <div
      class="owl-carousel owl-style-3 dots-style-2 owl-loaded owl-drag"
      data-items="1"
      data-sm-items="2"
      data-lg-items="3"
      data-margin="30"
      data-autoplay="true"
      data-dots="true"
      data-animation-in="fadeIn"
      data-animation-out="fadeOut"
    >
      <article *ngFor="let service of services; let i = index" class="services-creative">
        <a class="services-creative-figure" [routerLink]="['/services', service.slug]"
          ><img
            src="{{ service.thumb }}"
            alt="{{ service.name }}"
            width="370"
            height="208"
        /></a>
        <div class="services-creative-caption">
          <h5 class="services-creative-title">
            <a [routerLink]="['/services', service.slug]">{{ service.name }}</a>
          </h5>
          <p class="services-creative-text">
            {{ service.short_desc }}
          </p>
          <span class="services-creative-counter box-ordered-item">{{i + 1}}</span>
        </div>
      </article>
    </div>
  </div>
</section>
