<section class="bg-gray-7">
  <div class="breadcrumbs-custom box-transform-wrap context-dark">
    <div class="container">
      <h3 class="breadcrumbs-custom-title">{{ title }}</h3>
      <div class="breadcrumbs-custom-decor"></div>
    </div>
    <div
      class="box-transform"
      style="background-image: url(assets/images/bg-typography.jpg);"
    ></div>
  </div>
  <div class="container">
    <ul class="breadcrumbs-custom-path">
      <li><a href="/">Home</a></li>
      <li class="active">{{ title }}</li>
      <li *ngIf="project">{{ name }}</li>
    </ul>
  </div>
</section>
