<div class="aside aside-services">
  <div class="row row-60">
    <div class="aside-item col-sm-6 col-md-12">
      <h5 class="aside-services-title">Downloads</h5>
      <a
        class="button button-lg button-icon button-icon-left button-primary button-winona"
        href="http://www.arconsegypt.com/ARCONS_Brochure.pdf"
        target="_blank"
        ><div class="content-original">
          <span class="icon"><fa-icon [icon]="faDownload"></fa-icon></span
          ><span>Brochure</span>
        </div>
        <div class="content-dubbed">
          <span class="icon"><fa-icon [icon]="faDownload"></fa-icon></span
          ><span>Brochure</span>
        </div></a
      >
      <a
        class="button button-lg button-icon button-icon-left button-primary button-winona"
        href="http://www.arconsegypt.com/ARCONS_Prequalification.pdf"
        target="_blank"
        ><div class="content-original">
          <span class="icon"><fa-icon [icon]="faDownload"></fa-icon></span
          ><span>Prequalification</span>
        </div>
        <div class="content-dubbed">
          <span class="icon"><fa-icon [icon]="faDownload"></fa-icon></span
          ><span>Prequalification</span>
        </div></a
      >
      <a
        class="button button-lg button-icon button-icon-left button-primary button-winona"
        href="http://www.arconsegypt.com/ARCONS's_ISO_Certeficates.pdf"
        target="_blank"
        ><div class="content-original">
          <span class="icon"><fa-icon [icon]="faDownload"></fa-icon></span
          ><span>ISO Certeficates</span>
        </div>
        <div class="content-dubbed">
          <span class="icon"><fa-icon [icon]="faDownload"></fa-icon></span
          ><span>ISO Certeficates</span>
        </div></a
      >
      <a
        class="button button-lg button-icon button-icon-left button-primary button-winona"
        href="http://arconsegypt.com/ARCONS_ASME_Certificates.pdf"
        target="_blank"
        ><div class="content-original">
          <span class="icon"><fa-icon [icon]="faDownload"></fa-icon></span
          ><span>ASME Certificates</span>
        </div>
        <div class="content-dubbed">
          <span class="icon"><fa-icon [icon]="faDownload"></fa-icon></span
          ><span>ASME Certificates</span>
        </div></a
      >
      <a
        class="button button-lg button-icon button-icon-left button-primary button-winona"
        href="http://www.arconsegypt.com/ARCONS-- Presentation--23.06.2016.ppsx"
        target="_blank"
        ><div class="content-original">
          <span class="icon"><fa-icon [icon]="faDownload"></fa-icon></span
          ><span>Presentation</span>
        </div>
        <div class="content-dubbed">
          <span class="icon"><fa-icon [icon]="faDownload"></fa-icon></span
          ><span>Presentation</span>
        </div></a
      >
    </div>
  </div>
</div>
