<!-- Slider main container -->
<section
  class="section swiper-container swiper-slider swiper-slider-2"
  data-loop="true"
  data-autoplay="5000"
  data-simulate-touch="false"
  data-slide-effect="fade"
>
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div
      *ngFor="let slide of slides"
      class="swiper-slide context-dark"
      attr.data-slide-bg="https://arconsegypt.com/api/images/slider/{{
        slide.image
      }}"
    >
      <div class="swiper-slide-caption section-md">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 col-lg-6 offset-lg-1 offset-xxl-0">
              <h3 class="oh swiper-title">
                <span
                  class="d-inline-block"
                  data-caption-animate="slideInUp"
                  data-caption-delay="0"
                  >{{ slide.header }}</span
                >
              </h3>
              <h5
                class="swiper-subtitle"
                data-caption-animate="fadeInLeft"
                data-caption-delay="300"
              >
                {{ slide.caption }}
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- If we need pagination -->
  <!-- Swiper Pagination-->
  <div
    class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"
    data-bullet-custom="true"
  >
    <span class="swiper-pagination-bullet swiper-pagination-bullet-active">
      <svg width="100%" height="100%" viewBox="0 0 24 24">
        <circle class="swiper-bullet-line" cx="12" cy="12" r="10"></circle>
        <circle class="swiper-bullet-line-2" cx="12" cy="12" r="10"></circle>
      </svg>
    </span>
    <span class="swiper-pagination-bullet">
      <svg width="100%" height="100%" viewBox="0 0 24 24">
        <circle class="swiper-bullet-line" cx="12" cy="12" r="10"></circle>
        <circle class="swiper-bullet-line-2" cx="12" cy="12" r="10"></circle>
      </svg>
    </span>
    <span class="swiper-pagination-bullet">
      <svg width="100%" height="100%" viewBox="0 0 24 24">
        <circle class="swiper-bullet-line" cx="12" cy="12" r="10"></circle>
        <circle class="swiper-bullet-line-2" cx="12" cy="12" r="10"></circle>
      </svg>
    </span>
  </div>
  <!-- Swiper Navigation-->
  <div class="swiper-button-prev">
    <div class="preview">
      <div
        class="preview__img"
        style="background-image: url('assets/images/slide-3-1920x753.jpg');"
      ></div>
    </div>
    <div class="swiper-button-arrow">
      <fa-icon [icon]="faArrowLeft"></fa-icon>
    </div>
  </div>
  <div class="swiper-button-next">
    <div class="swiper-button-arrow">
      <fa-icon [icon]="faArrowRight"></fa-icon>
    </div>
    <div class="preview">
      <div
        class="preview__img"
        style="background-image: url('assets/images/slide-2-1920x753.jpg');"
      ></div>
    </div>
  </div>
</section>
