<section class="section section-xl bg-default text-md-left">
  <div class="container">
    <div class="row row-30">
      <div class="col-md-5 col-lg-4 col-xl-3">
        <div class="box-team">
          <h3 class="oh-desktop">
            <span class="d-inline-block wow slideInUp">Our team</span>
          </h3>
          <h6 class="title-style-1 wow fadeInLeft" data-wow-delay=".1s">
            ARCONS is committed to hiring, 
          </h6>
          <p class="wow fadeInRight" data-wow-delay=".2s">
            developing and retaining the best professionals in the construction industry. We are an organization committed to excellence in all we do, building to the highest standards achievable.
          </p>
          <div class="group-sm oh-desktop">
            <div class="button-style-1 wow slideInLeft">
              <span class="icon mdi mdi-email-outline"
                ><fa-icon [icon]="faEnvelope"></fa-icon></span
              ><span class="button-style-1-text"
                ><a [routerLink]="['/contact-us']">Contact us</a></span
              >
            </div>
            <!-- <div class="wow slideInRight">
              <div class="owl-custom-nav" id="owl-custom-nav-1"></div>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-md-7 col-lg-8 col-xl-9">
        <div
          class="owl-carousel owl-style-5"
          data-items="1"
          data-sm-items="2"
          data-lg-items="3"
          data-margin="30"
          data-autoplay="false"
          data-animation-in="fadeIn"
          data-animation-out="fadeOut"
          data-navigation-class="#owl-custom-nav-1"
        >
          <!-- Team Modern-->
          <article class="team-modern">
            <a class="team-modern-figure" href="javascript: void(0)"
              ><img
                src="http://arconsegypt.com/api/images/team/0015846.jpg"
                alt=""
                width="270"
                height="236"
            /></a>
            <div class="team-modern-caption">
              <h6 class="team-modern-name"><a href="javascript: void(0)">Atef Eladly</a></h6>
              <div class="team-modern-status">CEO, Managing Director</div>
              <ul class="list-inline team-modern-social-list">
                <li>
                  <a class="icon mdi mdi-facebook" href="javascript: void(0)"
                    ><fa-icon [icon]="faFacebookF"></fa-icon
                  ></a>
                </li>
                <li>
                  <a class="icon mdi mdi-twitter" href="javascript: void(0)"
                    ><fa-icon [icon]="faTwitter"></fa-icon
                  ></a>
                </li>
                <li>
                  <a class="icon mdi mdi-instagram" href="javascript: void(0)"
                    ><fa-icon [icon]="faInstagram"></fa-icon
                  ></a>
                </li>
                <li>
                  <a class="icon mdi mdi-google-plus" href="javascript: void(0)"
                    ><fa-icon [icon]="faGooglePlusG"></fa-icon
                  ></a>
                </li>
              </ul>
            </div>
          </article>
          <!-- Team Modern-->
          <article class="team-modern">
            <a class="team-modern-figure" href="javascript: void(0)"
              ><img
                src="http://arconsegypt.com/api/images/team/Alaa_Dein1-e1440408989181.jpg"
                alt=""
                width="270"
                height="236"
            /></a>
            <div class="team-modern-caption">
              <h6 class="team-modern-name"><a href="javascript: void(0)">Alaa Eldein Mahmoud</a></h6>
              <div class="team-modern-status">Operation Director</div>
              <ul class="list-inline team-modern-social-list">
                <li>
                  <a class="icon mdi mdi-facebook" href="javascript: void(0)"
                    ><fa-icon [icon]="faFacebookF"></fa-icon
                  ></a>
                </li>
                <li>
                  <a class="icon mdi mdi-twitter" href="javascript: void(0)"
                    ><fa-icon [icon]="faTwitter"></fa-icon
                  ></a>
                </li>
                <li>
                  <a class="icon mdi mdi-instagram" href="javascript: void(0)"
                    ><fa-icon [icon]="faInstagram"></fa-icon
                  ></a>
                </li>
                <li>
                  <a class="icon mdi mdi-google-plus" href="javascript: void(0)"
                    ><fa-icon [icon]="faGooglePlusG"></fa-icon
                  ></a>
                </li>
              </ul>
            </div>
          </article>
          <!-- Team Modern-->
          <article class="team-modern">
            <a class="team-modern-figure" href="javascript: void(0)"
              ><img
                src="http://arconsegypt.com/api/images/team/moh.etman_.jpg"
                alt=""
                width="270"
                height="236"
            /></a>
            <div class="team-modern-caption">
              <h6 class="team-modern-name"><a href="javascript: void(0)">Mohamed Osman</a></h6>
              <div class="team-modern-status">Plant Director</div>
              <ul class="list-inline team-modern-social-list">
                <li>
                  <a class="icon mdi mdi-facebook" href="javascript: void(0)"
                    ><fa-icon [icon]="faFacebookF"></fa-icon
                  ></a>
                </li>
                <li>
                  <a class="icon mdi mdi-twitter" href="javascript: void(0)"
                    ><fa-icon [icon]="faTwitter"></fa-icon
                  ></a>
                </li>
                <li>
                  <a class="icon mdi mdi-instagram" href="javascript: void(0)"
                    ><fa-icon [icon]="faInstagram"></fa-icon
                  ></a>
                </li>
                <li>
                  <a class="icon mdi mdi-google-plus" href="javascript: void(0)"
                    ><fa-icon [icon]="faGooglePlusG"></fa-icon
                  ></a>
                </li>
              </ul>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
