<section
  class="section parallax-container"
  data-parallax-img="assets/images/bg-forms-1.jpg"
>
  <div class="material-parallax parallax">
    <img src="assets/images/bg-forms-1.jpg" alt="" />
  </div>
  <div class="parallax-content section-md context-dark text-md-left">
    <div class="container">
      <div class="row row-30 justify-content-center align-items-center">
        <div class="col-lg-4 col-xl-3">
          <h5 class="oh-desktop">
            <span class="d-inline-block wow slideInUp">Newsletter</span>
          </h5>
          <p class="oh-desktop">
            <span class="d-inline-block wow slideInDown"
              >Sign up to our newsletter to receive the latest news.</span
            >
          </p>
        </div>
        <div class="col-lg-8 col-xl-9">
          <!-- RD Mailform-->
          <div class="block-center">
            <form
              class="rd-form rd-mailform rd-form-inline oh-desktop rd-form-inline-lg"
              data-form-output="form-output-global"
              data-form-type="subscribe"
              method="post"
              action="bat/rd-mailform.php"
              novalidate="novalidate"
            >
              <div class="form-wrap wow slideInUp">
                <input
                  class="form-input form-control-has-validation"
                  id="subscribe-form-0-email"
                  type="email"
                  name="email"
                  data-constraints="@Email @Required"
                /><span class="form-validation"></span>
                <label
                  class="form-label rd-input-label"
                  for="subscribe-form-0-email"
                  >Your E-mail*</label
                >
              </div>
              <div class="form-button wow slideInRight">
                <button
                  class="button button-winona button-lg button-primary"
                  type="submit"
                >
                  <div class="content-original">Subscribe</div>
                  <div class="content-dubbed">Subscribe</div>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
