<section class="section section-md bg-gray-100 text-md-left section-relative">
  <div class="container">
    <div class="row row-40 row-lg-50 row-xl-60">
      <div class="col-sm-6 col-lg-4">
        <article class="box-icon-classic">
          <div
            class="unit unit-spacing-lg flex-column text-center flex-md-row text-md-left"
          >
            <div class="unit-left">
              <div class="box-icon-classic-icon linearicons-hammer-wrench">
                <fa-icon [icon]="faTools"></fa-icon>
              </div>
            </div>
            <div class="unit-body">
              <h5 class="box-icon-classic-title">
                <a href="#">SAFETY FIRST</a>
              </h5>
              <p class="box-icon-classic-text">
                ARCONS has launched massive Plan to improve safety in its
                construction sites. The plan, which was agreed by the managing
                board, aims to improve the performance of site staff and workers
                taking into consideration all recent updates in OSHA
                regulations.
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-sm-6 col-lg-4">
        <article class="box-icon-classic">
          <div
            class="unit unit-spacing-lg flex-column text-center flex-md-row text-md-left"
          >
            <div class="unit-left">
              <div class="box-icon-classic-icon linearicons-apartment">
                <fa-icon [icon]="faBuilding"></fa-icon>
              </div>
            </div>
            <div class="unit-body">
              <h5 class="box-icon-classic-title">
                <a href="#">MISSION STATEMENT</a>
              </h5>
              <p class="box-icon-classic-text">
                We are Committed to Excel & Keep Growing in Our Business by
                providing best quality, breaking time records at challenging
                prices! Company Objectives: to keep, train and attract best
                professionals in the market, make corporate deals with suppliers
                and use state of the art techniques, machinery and technologies
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-sm-6 col-lg-4">
        <article class="box-icon-classic">
          <div
            class="unit unit-spacing-lg flex-column text-center flex-md-row text-md-left"
          >
            <div class="unit-left">
              <div class="box-icon-classic-icon linearicons-pencil-ruler">
                <fa-icon [icon]="faThumbsUp"></fa-icon>
              </div>
            </div>
            <div class="unit-body">
              <h5 class="box-icon-classic-title">
                <a href="#">AREAS OF APPLICATIONS</a>
              </h5>
              <p class="box-icon-classic-text">
                Power Plants, Water & Wastewater Applications, Renewable Energy
                Projects, Petroleum Projects, Harbours, Airports, Heavy
                Industrial Factories, Tanks, Silos, Pressure Vessels, Pipe
                Works, Towers, Gantries & Overhead Cranes, and similar
                applications
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-sm-6 col-lg-4">
        <article class="box-icon-classic">
          <div
            class="unit unit-spacing-lg flex-column text-center flex-md-row text-md-left"
          >
            <div class="unit-left">
              <div class="box-icon-classic-icon linearicons-coin-dollar">
                <fa-icon [icon]="faDollarSign"></fa-icon>
              </div>
            </div>
            <div class="unit-body">
              <h5 class="box-icon-classic-title">
                <a href="#">OUR FACTORY</a>
              </h5>
              <p class="box-icon-classic-text">
                We are trying to be one of the most advanced factories in Egypt,
                using the state of art machinery and equipment, and we are
                certified from ASME in “S”, “U” and “R” Stamps.
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-sm-6 col-lg-4">
        <article class="box-icon-classic">
          <div
            class="unit unit-spacing-lg flex-column text-center flex-md-row text-md-left"
          >
            <div class="unit-left">
              <div class="box-icon-classic-icon linearicons-users2">
                <fa-icon [icon]="faUserFriends"></fa-icon>
              </div>
            </div>
            <div class="unit-body">
              <h5 class="box-icon-classic-title">
                <a href="#">Professional Team</a>
              </h5>
              <p class="box-icon-classic-text">
                We are a team of experienced steel engineers working to build a
                better world.
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="col-sm-6 col-lg-4">
        <article class="box-icon-classic">
          <div
            class="unit unit-spacing-lg flex-column text-center flex-md-row text-md-left"
          >
            <div class="unit-left">
              <div class="box-icon-classic-icon linearicons-headset">
                <fa-icon [icon]="faHeadset"></fa-icon>
              </div>
            </div>
            <div class="unit-body">
              <h5 class="box-icon-classic-title">
                <a href="#">24/7 Support</a>
              </h5>
              <p class="box-icon-classic-text">
                Any client of our company receives full 24/7 support by our
                experienced consultants.
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
